* {
    --background-color: white;
    --background-accent-color: lightgrey;
    --background-inverse-color: black;
    --foreground-color: black;
    --foreground-inverse-color: white;

    margin: 0px;
    font-family: 'Montserrat';
}

.navigation-bar {
    height: 50px;
    background-color: var(--background-inverse-color);
}

.main{
    max-width: 1000px;
    display: flex;
    padding: 2px;
    flex-direction: column;
    margin: auto;
}

.courses-container {
    display: flex;
    flex-wrap: wrap;
    margin: 2px;
}

.course-block {
    flex: 0 0 50%;
    transition: all .2s ease-out;
}

.course-block:hover {
    transform: scale(1.01);
}

.course-block-anchor{
    height: 160px;
    display: block;
    text-decoration: none;
    background-color: var(--background-color);
    border: 1px solid var(--background-accent-color);
    margin: 4px;
    cursor: hand;
    display: flex;
    transition: all .2s ease-out;
}

.course-block:hover .course-block-anchor{
    background-color: var(--background-accent-color);
    border: 1px solid var(--background-accent-color);
    margin: 4px;
    border-radius: 0px;
}

.course-block-content{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.course-block-content-icon{
    align-self: flex-start;
    font-size: 20px;
}

.course-block-content-title{
    margin: 10px 0px;
    font-size: 22px;
}

.course-block-content-link{
    align-self: flex-start;
    color: var(--background-accent-color);
    font-size: 12px;
    transition: all .2s ease-out;
}

.course-block-content-link::first-letter{
    text-decoration: underline;
}

.course-block:hover .course-block-content-link{
    color: var(--background-inverse-color);
    background-color: var(--background-color);
    font-size: 14px;
    box-shadow: 4px 4px var(--background-inverse-color);
}

.course-block-anchor:link, .course-block-anchor:visited{
    color: var(--foreground-color);
}

.navigation-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-bar-anchor{
    margin: 20px;
    text-decoration: none;
}

.navigation-bar-anchor-content::first-letter{
    text-decoration: underline;
}

.navigation-bar-anchor:link, .navigation-bar-anchor:visited{
    color: var(--foreground-inverse-color);
    font-size: 20px;
    transition: all .2s ease-out;
}

.navigation-bar-anchor:hover{
    color: var(--foreground-color);
    background-color: var(--background-color);
    box-shadow: 4px 4px var(--background-accent-color);
}

.course-info{
    margin: 20px;
}

.lab-works-container{
    display: flex;
    flex-direction: column;
}

.lab-work-block{
    display: flex;
    margin: 4px;
    align-items: center;
    border: 1px solid var(--background-accent-color);
}

.lab-work-block-index{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-inverse-color);
    color: var(--foreground-inverse-color);
}

.lab-work-block-index.finished{
    background-color: green;
}

.lab-work-block-description{
    flex: 1;
    padding: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.lab-work-block-stack{
    flex: 1;
    padding: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.lab-work-block-anchor{
    width: 100px;
    text-align: center;
    padding: 10px;
    background-color: var(--background-inverse-color);
    text-decoration: none;
    cursor: hand;
    transition: all .2s ease-out;
}

.lab-work-block-anchor::first-letter{
    text-decoration: underline;
}

.lab-work-block-anchor:link, .lab-work-block-anchor:visited{
    color: var(--foreground-inverse-color);
}

.lab-work-block-anchor:hover{
    color: var(--foreground-color);
    background-color: var(--background-color);
}

